---
layout: default
---

<div id="header">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.tagline }}</h2>
</div>

<div id="share">
    <ul class="group">
        <!-- Facebook Like Button -->
        <li>
            <fb:like href="{{ site.url }}" layout="button_count" show_faces="false" font=""></fb:like>
        </li>

        <!-- Tweet Button -->
        <li>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="loopj">Tweet</a>
        </li>

        <!-- Fork Button -->
        <li style="margin-left: -18px;">
            <a href="{{ page.github_url }}" class="gitforked-button gitforked-forks gitforked-watchers">Fork</a>
        </li>
    </ul>
</div>

<div id="project">
    {% if page.download_url %}
    <div id="download">
        <div class="download-button">
            <a href="{{ page.download_url }}">
                Download
                {% if page.version %}
                <em>version {{ page.version }} (latest)</em>
                {% else %}
                <em>latest version</em>
                {% endif %}
            </a>
        </div>

        {% if page.github_url %}
        <p id="github">or <a href="{{ page.github_url }}" target="_blank">fork me on github</a></p>
        {% endif %}
    </div>
    {% endif %}

    {{ content }}

    <h2>About the Author</h2>
    <p>
        I'm James Smith, CTO of <a href="http://www.heyzap.com">heyzap.com</a>. Originally from London, UK I now live in San Francisco.
    </p>
    <p class="social-grill">
        <a href="http://www.facebook.com/loopj/" target="_blank">
            <img src="/images/facebook_32.png" alt="facebook profile" />
            <span>Facebook Profile</span>
        </a>

        <a href="http://twitter.com/loopj/" target="_blank">
            <img src="/images/twitter_32.png" alt="twitter follow" />
            <span>Follow me on Twitter</span>
        </a>

        <a href="http://www.linkedin.com/in/loopj/" target="_blank">
            <img src="/images/linkedin_32.png" alt="linkedin profile" />
            <span>LinkedIn Profile</span>
        </a>
    </p>
</div>