---
layout: default
---

<div id="header">
  <h1>{{ page.title }}</h1>
  <h2>{{ page.tagline }}</h2>
</div>

<div id="project">
  {% if page.download_url %}
  <div id="download">
    <div class="download-button">
      <a href="{{ page.download_url }}">
        Download
        {% if page.version %}
        <em>version {{ page.version }} (latest)</em>
        {% else %}
        <em>latest version</em>
        {% endif %}
      </a>
    </div>

    {% if page.github_repo %}
    <p id="github">or <a href="https://github.com/android-async-http/{{ page.github_repo }}" target="_blank">fork me on github</a></p>
    {% endif %}
  </div>
  {% endif %}

  {{ content }}
</div>
